/* Resetando as configurações padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: sans-serif;
}

:root {
    --blue:#000080;
    --ligth-blue:#0753aa;
    --ligth-blue2:#116ed8;
    --ligth-blue3:#308af1ea;
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;

    --black-800: #171717;

    --gray-200: #cccccc;
    --gray-400: #505861;

    --white: #F9F9F9;
}

html {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, var(--blue),var(--ligth-blue),var(--ligth-blue2), var(--ligth-blue3));
}

body {
   background: linear-gradient(to bottom, var(--blue),var(--ligth-blue),var(--ligth-blue2), var(--ligth-blue3));
    color: var(--black-800);
    
}
 

.botao {
   text-align: center;
   padding: 12px 32px;
   background: none;
   border: 1px solid var(--ligth-blue3);
   color: var(--ligth-blue3);
   border-radius: 10px;
   font-weight: 700;
}

.botao:hover {
   background: var(--ligth-blue);
   color: var(--white);
}

/* Definindo as configurações de títulos e paragrafo */
h1{
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
}

h2{
    padding: 1rem;
    color: var(--black-800);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

p{
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
    padding: 0.5rem 0;
    margin-bottom: 50px;
    font-weight: bold;
}


/* Definindo as configurações do Flexbox */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
}

/* Estilização da Seção Header */

#header_content{
      height: 80px;
      position: sticky;
      top: 0;
      width: 100%;
      justify-content: space-between;
      padding: 40px;
      background-color: var(--blue);
      border-bottom: 1px solid var(--ligth-blue3);
}

#logo{
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 10px;
}

#icon_logo{
   width: 55px;
   height: 55px;
}

#menu li{
    display: inline;
    padding: 1rem;
}

#menu li a{
    text-decoration:none;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}

#menu li a:hover{
    color: var(--ligth-blue3);
    
}

/* ESTILIZAÇÃO DA SEÇÃO HOME */

#home{
   flex-direction: row;
   margin: 2rem auto;
   width: 90%;
}

.home_container {
   margin: 16px auto;
   display: flex;
   justify-content: center;    
   align-items: center;  
   gap: 20px;      
}

.home_container p, h1,
h4 {
   text-align: center;
   
}

.home_container p {
   color: var(--gray-200);
   font-size: 16px;
   font-weight: bold;
   margin: 16px 0;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.home_container h1 {
   font-size: 36px;
   line-height: 48px; 
   font-weight: bold;
}

.home_container h2 {
   margin: 16px 0;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 20px;
   font-style: normal;
   text-shadow: 
   0 0 5px #5f91ceb0,        /* Brilho neon azul */
   0 0 10px #9cbfe7bd,
   0 0 15px #adb7c47c;
  
   text-align: center;
}

.home_container .botao {
   width: 150px; 
}

.home_content {   
   display: flex;
   justify-content: center;    
   align-items: center;       
   flex-direction: column;
}

.home_content_img {
   width: 200px; 
   height: 200px;
}

 /* Estilização da Seção About */

 #about{
    flex-direction: column;
    margin: 8rem auto;
    width: 90%;
 }

 #conteudo{
   display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
 }



 #table {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 20px auto;
  
 }

 #table table{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 20px;
   padding: 12px;
 }

 #table table thead tr td{
   padding-bottom: 35px;
   text-align: center;
   font-weight: bold;
   font-size: 22px;
}


#table table thead tr th{
   padding-bottom: 12px;
   text-align: left;
   font-weight: bold;
   font-size: 19px;
}

#table table tbody tr td{
   padding-bottom: 10px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#table table tbody tr td img{
   margin-left: 10px;
   vertical-align: middle;
   height: 27px;
   width: 27px;
}

#table tbody tr td:hover{
   display: inline;
   color: var(--ligth-blue3);
   font-weight: bold;
   font-size: 20px;
   
 }
 
 .border_table{
   border: 2px solid black;
 }

 .align_table td{
   justify-content: right;
   padding-left: 120px;
   padding-top: 10px;
 }

 .img_profile{
    width: 300px;
    height: 300px;
    border: 5px solid var(--ligth-blue2);
    border-radius: 200px;
    margin-top: 15px;
   
 }
 .img_profile:hover{
   border-radius: 50px;
}

 /* Estilização da Seção vídeo */

 #video{
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
 }

 /* Estilização da Seção Footer */

 footer{
    flex-direction: column;
    margin: 0;
    padding: 2rem;
    color: var(--white);
    background: linear-gradient(to bottom, var(--blue),var(--ligth-blue),var(--ligth-blue2), var(--ligth-blue3));
    font-weight: bold;
    text-align: center;
 }


 #redes_sociais{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0 0 0;
    width: 320px;
 }

 .social_icon{
    width: 4rem;
    height: 4rem;
    filter: brightness(0)
            saturate(100%)
            invert(100%)
            sepia(0%)
            saturate(7457%)
            hue-rotate(23deg)
            brightness(95%)
            contrast(87%);
 }

 .social_icon:hover{
    filter: brightness(0)
            saturate(100%)
            invert(65%)
            sepia(59%)
            saturate(2437%)
            hue-rotate(213)
            brightness(86%)
            contrast(88%);
 }

/* Estilização da pagina contato*/

 #contact{
    flex-direction: row;
    gap: 2rem;
 }

 form{
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 2rem 0;
    padding: 1.5rem;
    border: none;
 }

 form label{
   color: var(--white);
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
 }

 form input,
 textarea{
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    border-radius: 1.25rem;
    border: none;
    width: 100%;
    font-size: 1rem;
 }

 textarea{
    resize: none;
    height: 5rem;
 }

 form span{
    margin: 0 0 0.5rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: red;
 }

 form button{
    text-align: center;
    padding: 0.75rem 2rem;
    background: var(--blue);
    border: 1px solid var(--ligth-blue);
    color: var(--white);
    border-radius: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
 }

 form button:hover{
    background: var(--ligth-blue3);
 }

 /* Estilização da seção mapa*/

 #map{
    width: 480px;
    flex-direction: column;
    
 }

 #endereco >p{
   margin: 2px;
   color: var(--white);
    font-size: 1rem;
    text-align: justify;
    font-weight: 600;
 }